.DCI-scroll,.DCI-scroll-small{
    
    &::-webkit-scrollbar-thumb {
        /*滚动条里面小方块*/
        background: rgba(24, 144, 255, 0.5);
        &:hover{
            background: #1c56d1;
        }
    }
    &::-webkit-scrollbar-track {
        /*滚动条里面轨道*/
        background: #F5F5F5;
    }
}

.DCI-scroll{
    &::-webkit-scrollbar {
        /*滚动条整体样式*/
        width: 12px; 
        height: 12px;
    }
}

.DCI-scroll-small{
    &::-webkit-scrollbar {
        /*滚动条整体样式*/
        width: 6px; 
        height: 6px;
    }
}
